{% extends 'flatpages/default.html' %}

{% load censor %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Новостей на странице {{ category_news_list|length }}:</h1>

       {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
       {% endif %}

    <hr>
    {% if category_news_list %}
        <table>
            <tbody>
            <tr>
                <td><strong>Заголовок</strong></td>
                <td><strong>Дата публикации</strong></td>
                <td><strong>Краткое описание</strong></td>
            </tr>
            </tbody>
            {% for post in category_news_list %}
            <tr>
                <td><a href="{% url 'news_detail' post.id %}">{{ post.header|censor }}</a></td>
                <td>{{ post.date_post|date:'d M Y'}}</td>
                <td>{{ post.text_post|truncatewords:20|censor }}</td>

            </tr>
            {% endfor %}
        </table>

    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}


    {% if page_obj.has_previous %}
            <a href="?page=1">1</a>
            {% if page_obj.previous_page_number != 1 %}
                ...
                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        {{ page_obj.number }}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}

{% endblock content %}