{% extends 'flatpages/default.html' %}

{% load censor %}
{% load i18n %}

{% block title %}
News
{% endblock title %}

{% block content %}

    <h1>{% trans "Total news found" %} - {{ news|length }}:</h1>

    <form action="" method="get">
        {{ filterset.form.as_p }}
       <input type="submit" value="{% trans 'Search' %}"/>
    </form>

    <hr>

    {% if news %}
        <table>
            <tr>
                <td><strong>{% trans "Title" %}</strong></td>
                <td><strong>{% trans "Publication date" %}</strong></td>
                <td><strong>{% trans "Short description" %}</strong></td>
            </tr>

            {% for post in news %}
            <tr>
                <td><a href="{% url 'news_detail' post.id %}">{{ post.header|censor }}</a></td>
                <td>{{ post.date_post|date:'d M Y'}}</td>
                <td>{{ post.text_post|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>{% trans "No news!" %}</h2>
    {% endif %}

<!--    {% if page_obj.has_previous %}-->
<!--        <a href="?page=1">1</a>-->
<!--        {% if page_obj.previous_page_number != 1 %}-->
<!--            ...-->
<!--            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>-->
<!--        {% endif %}-->
<!--    {% endif %}-->

<!--    {{ page_obj.number }}-->

<!--    {% if page_obj.has_next %}-->
<!--        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>-->
<!--        {% if paginator.num_pages != page_obj.next_page_number %}-->
<!--            ...-->
<!--            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>-->
<!--        {% endif %}-->
<!--    {% endif %}-->

{% endblock content %}